.mayura .cards-container h2,
.mayura .tabs-container h2 {
    text-align: center;
    font-size: 42px; /* happy medium between 40 and 46 */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gradient-red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    margin-bottom: 35px;
}

.mayura .cards-container .dark-scheme h2,
.mayura .tabs-container .dark-scheme h2 {
  background: var(--gradient-silver);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.mayura .columns-container h2 {
 margin: 0;
}

.mayura .banner-heading h2 {
  background: #fbf8f2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  text-align: left;
}

.mayura .table-container .button-container:first-child {
  text-align: center;
  padding-top: 20px;
}

.mayura .cards.related-search .benefit-cards .cards-card-body h3 a:hover {
color: var(--dark-red-color);
}

.mayura .section[data-id="get-in-touch"] .cards.related-search {

  .grid-cards {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 4px;
  }

.benefit-cards {
  background-color: transparent;
  box-shadow: none;

  &::after {
    display: none;
  }
  
  h3 {
    font-weight: 700;
    color: #293871;
  }
}
}

.mayura .cards.important-documents li, .cards.important-documents .important-documents-card {
  background: var(--gradient-earn-rewards);
  box-shadow: none;
  border: 1px var(--text-color) solid;
}

.mayura .accordion .accordion-cta.button{
  background: var(--gradient-pewter);
  color: var(--white);
  width: max-content;
  margin-top: var(--spacing-m);
  margin-left: calc(50% - 100px);
  padding: 8px 20px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.mayura .sticky-cta.block {
  background: rgba(239, 239, 239, 0.6)
}

.mayura .sticky-cta-subtitle-content {
  color: rgb(26, 26, 26);
  padding-top: 10px;
  font-size: 14px;
}

.mayura .sticky-cta-container .sticky-cta-content a.button {
  background: linear-gradient(270deg, #332B28 0%, #514A44 21.11%, #8B837D 50.14%, #625A50 71.74%, #7A766D 90.18%, #433C32 100%);
  border: none;
}

  @media (width <= 900px) {
    .mayura .section[data-id="get-in-touch"] .cards.related-search .benefit-cards {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-right:0;

      .cards-card-body {
        padding-right: 0;
      }
    }
  }

  @media (width >= 768px) {
    .mayura .sticky-cta-container {
      display: none;
    }
  }
