.mayura .cards-container h2,
.mayura .tabs-container h2 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gradient-red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    margin-bottom: 35px;
}

.mayura .cards-container .dark-scheme h2,
.mayura .tabs-container .dark-scheme h2 {
  background: var(--gradient-silver);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.mayura .banner-heading h2 {
  background: #fbf8f2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  text-align: left;
}

.mayura .table-container .button-container:first-child {
  text-align: center;
  padding-top: 20px;
}

.mayura .section[data-id="get-in-touch"] .cards.related-search .benefit-cards {
  background-color: transparent;
  box-shadow: none;

  &::after {
    display: none;
  }
  
  h3 {
    font-weight: 700;
    color: #293871;
  }
}

.mayura .section[data-id="get-in-touch"] .cards.related-search .grid-cards {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 4px;
  }

  @media (width <= 900px) {
    .mayura .section[data-id="get-in-touch"] .cards.related-search .benefit-cards {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-right:0;

      .cards-card-body {
        padding-right: 0;
      }
    }
  }