.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--spacing-s);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.block.feature-cards > div > div{
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: var(--background-color);
  width: 253px;
  height: 82px;
  flex: unset;
}

.columns.block.feature-cards div div p{
    color: var(--text-color);
    font-size: var(--body-font-size-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0 10px;
}

.columns.block.feature-cards div div p .icon{
  width: 100%;
  height: 100%;
}

.columns.block.feature-cards{
  position: absolute;
  bottom: 2% ;
}

@media (max-width:767px){
  .columns.block.feature-cards > div > div{
  display: flex;
  align-items: center;
  gap: 0;
  background: var(--background-color);
  width: 100%;
  height: 60px;
  margin-bottom: var(--spacing-xs);
}

.columns.block.feature-cards div div p{
    color: var(--text-color);
    font-size: var(--body-font-size-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0 10px;
}

.columns.block.feature-cards div div p .icon{
  width: 100%;
  height: 100%;
}

.columns.block.feature-cards{
  position: absolute;
  
  /* top: 56%; */
  top: 83%;
  margin-right: var(--spacing-s);
  margin-top: 0;
}
}