/* set initial section configs in authoring, such as 
style = center, dark-scheme, etc
and outer background value (such as rgb(0 0 0 / 60%) */

.section.cta-sticky-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(3.5px);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.section.cta-sticky-container.hidden {
  display: none;
}

.section.cta-sticky-container.slide-in {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cta-sticky {
display: flex;
position: relative;

p {
  font-size: var(--body-font-size-xxs);
  color: var(--color-white);
  text-shadow: 0 0 20px rgb(0 0 0 / 25%);
}

h6 {
  font-size: var(--body-font-size-s);
  font-weight: 400;
}

p + p {
  margin-top: 0;
}

p.button-container a.button.primary:any-link {
  background-color: var(--color-red-300);
  border-color: var(--color-red-300);
  color: var(--color-white);
  font-size: var(--body-font-size-xs);
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
  margin: 0;
  min-width: 234px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xxs);

  &:hover {
    border-color: var(--color-red-300);
    background-color: var(--color-red-300);
  }
}

div:empty {
  margin: 0;
}
}

.cta-sticky-mobile-content {

  > div {
  margin: var(--spacing-xs) 0;
  }
}

.cta-sticky-desktop-content {
  display: none;
}

/* Desktop Styles */
@media (width >= 990px) {
  .cta-sticky {
    p {
      font-size: var(--body-font-size-xs);
    }

    p.button-container a.button.primary:any-link {
      font-size: var(--body-font-size-s);
      padding: var(--spacing-xs);
    }
  }

  .cta-sticky-mobile-content {
    display: none;
  }

  .cta-sticky-desktop-content {
    display: block;

    > div {
      margin: var(--spacing-xs) 0;
    }
  }
}
