@media (max-width:991px) {

  .top-nav {
    height: 70px;
    align-items: center
  }

  .top-nav .logo {
    padding: 0
  }

  .top-nav .logo img {
    height: 34px
  }

  .top-nav .icon-search,
  .top-nav .menu-mob .icon-menu {
    display: block
  }

  .top-nav .icon-search {
    font-size: 24px
  }

  .top-nav {
    box-shadow: none
  }

  .top-nav {
    height: 60px;
    align-items: center
}

.top-nav .logo {
    padding: 0 0 0 0
}

.top-nav .logo img {
    height: 28px
}

.top-nav .menu-mob .icon-menu,
.top-nav .icon-search {
    display: block;
    font-size: 20px
}

.top-nav .icon-search {
    font-size: 24px;
}

.top-nav .menu-mob .icon-menu::before {
    color: var(--text-red-color)
 }
}

@media (max-width:1024px) {
  .top-nav .logo {
    padding: 10px 10px 0 30px
  }

  .top-nav-left>li {
    font-size: 14px;
    margin: 0 var(--spacing-xxs)
  }

  .top-nav {
    padding: 0
}

  .top-nav .logo {
      padding: 10px 10px 0 30px
  }

  .top-nav-left>li {
    margin: 0
}

.top-nav-left>li>a {
    padding: 15px 18px 10px 0
}
}

@media (max-width:1280px) {
  .top-nav-left>li.hide-1024 {
    display: none
}

.top-nav-left>li {
  margin: 0
}

.top-nav-left>li>a {
  padding: 15px 30px 10px 0
 }
}

header .header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  /* height: 110px; */
  background: var(--color-white);
  transition: all .1s ease
}

.top-nav .logo {
  padding: 10px 30px 0 46px
}

.top-nav .logo a img {
  display: block
}

.top-nav-left {
  opacity: 1;
  transition: opacity .3s ease;
  display: flex
}

.top-nav-left>li {
  margin: 0;
  position: relative
}

.top-nav-left>li.active>a,
.top-nav-left>li:hover>a {
  font-weight: 700
}

.top-nav-left>li.active>a .icon-Down:before,
.top-nav-left>li:hover>a .icon-Down:before {
  color: var(--text-red-color);
  content: "\e903"
}

.top-nav-left>li>a .icon-Down {
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  margin-left: 5px
}

.top-nav-left>li>a .icon-Down:before {
  color: var(--text-red-color)
}

.top-nav-left>li>a:hover {
  border-bottom: 3px solid var(--text-red-color);
  background: #f6f6f6
}

.top-nav-left>li .dfm {
  display: flex;
  align-items: center
}

.top-nav-left>li .dfm .icon-more {
  font-size: 20px;
  margin-right: var(--spacing-xxs)
}

.top-nav-left>li .icon {
  margin-right: var(--spacing-xxs);
  display: inline-block
}

.top-nav-left>li .icon img {
  width: 20px;
  height: 20px
}

.top-nav-left>li {
  margin: 0;
  position: relative;
}

.top-nav {
    display: flex;
    align-items: center;
    
    /* padding: 9px 65px; */
    background: var(--color-white)
}

.top-nav.bg-light-white {
    /* padding: 0 70px; */
    background-color: var(--color-white-100);

}

.top-nav .logo {
    padding: 10px 30px 0 46px
}

.top-nav .logo a img {
    display: block
}

.top-nav-left {
    opacity: 1;
    transition: opacity .3s ease;
    display: flex
}

.top-nav-left>li {
    margin: 0;
    position: relative;
    flex: 1 1 auto;
}

.top-nav-left>li.active>a,
.top-nav-left>li:hover>a {
    font-weight: 700
}

.top-nav-left>li.active>a .icon-Down::before,
.top-nav-left>li:hover>a .icon-Down::before {
    color: var(--text-red-color);
    content: ""
}

.top-nav-left>li>a {
    display: block;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding: var(--spacing-xs) 0;
    color: var(--text-color);
    white-space: nowrap;
    font-size: var(--body-font-size-xxs);
    height: 46px;
}

.top-nav-left>li>a .icon-Down {
    font-weight: 700;
    font-size: var(--body-font-size-xs);
    margin-left: 5px
}

.top-nav-left>li>a .icon-Down::before {
    color: var(--text-red-color)
}

.top-nav-left>li>a:hover {
    border-bottom: 3px solid var(--text-red-color)
}

.top-nav-left>li .dfm {
    display: flex;
    align-items: center
}

.top-nav-left>li .dfm .icon-more {
    font-size: 20px;
    margin-right: var(--spacing-xxs)
}

.top-nav-left>li .icon {
    margin-right: var(--spacing-xxs);
    display: inline-block
}

.top-nav-left>li .icon img {
    width: 20px;
    height: 20px
}

.top-nav .drop-down:hover>a {
    border-bottom-color: var(--text-red-color)
}

.top-nav .drop-down:hover>a .icon-Down::before {
    content: ""
}

  @media (width >= 1200px) {
.top-nav-left  > li {
  flex: 0;
  padding-right: var(--spacing-s);
}

    .top-nav-left>li>a {
      font-size: var(--body-font-size-xs);
  }
}