.banner-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.banner.block {
  position: relative;
  margin: var(--spacing-xl) 0;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner .button-container {
  text-align: center;
}

.banner a.button span.icon {
  display: inline-flex;
  align-items: center;
  margin-left: var(--spacing-xxs);
}

.banner {

  a.button.primary:hover, a.button.primary:focus, button.primary:hover, button.primary:focus {
    background-color: var(--btn-color-red);
    border-color: var(--btn-color-red);
    color: var(--color-white);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
}
}

/* Main content container */
.banner-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
}

.banner-heading {
  padding: var(--spacing-s) var(--spacing-xxl);
  margin-top: var(--spacing-xxl);
}

.banner-heading h2 {
  font-size: var(--heading-font-size-xl);
}

/* Bottom Text - Sticks to bottom */
.banner-bottom-text {
  align-self: flex-start;
  margin-top: var(--spacing-s);
  padding-left: var(--spacing-s);
  bottom: 50%;
}

.banner-bottom-text-content {
  font-size: var(--body-font-size-s);
  line-height: 1.6;
  margin: 0;
  color: var(--background-color);
  max-width: 100%;
}

/* Desktop Image - Hidden on mobile */
.banner-image-desktop {
  display: none;
}

/* Mobile Image - Shows as background on mobile */

.banner-image-mobile .banner-picture {
  position: relative;
}

.banner-image-mobile .banner-img {
  width: 100%;
  height: auto;
}

/* Ensure content is above background image */
.banner-heading,
.banner-bottom-text {
  z-index: 1;
  position: absolute;
}

/* Tablet Styles */
@media (width >= 768px) {
  .banner-content {
    min-height: 350px;
  }

  .banner-heading {
    max-width: 500px;
    padding-top: 0;
    margin-top: var(--spacing-l);
  }

  .banner-bottom-text {
    font-size: var(--body-font-size-xs);
    max-width: 500px;
  }

  /* Show desktop image on tablet with reduced opacity */
  .banner-image-desktop {
    display: flex;
    position: absolute;
    inset: 0 0 0 auto;
    z-index: 0;
    align-items: center;
    justify-content: flex-end;
  }

  .banner-image-desktop .banner-picture {
    display: block;
    height: 100%;
  }

  .banner-image-desktop .banner-img {
    width: 100%;
    object-position: center;
  }

  /* Hide mobile image on tablet */
  .banner-image-mobile {
    display: none;
  }

  /* Content can be static on tablet/desktop */
  .banner-heading,
  .banner-cta,
  .banner-bottom-text {
    position: static;
  }

  .banner .button-container {
    text-align: unset;
}
}

/* Desktop Styles */
@media (width >= 900px) {
  /* Main content container */
.banner-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  justify-content: center;
  min-height: 420px;
}

.banner-heading {
  max-width: 500px;
  margin-top: 0;
}

.banner-heading h2 {
  font-size: var(--heading-font-size-xxl);
}

  .banner-content {
    padding-left: 92px;
    justify-content: center;
  }
}
