.tabs .tabs-list {
  display: flex;
  gap: var(--spacing-xs);
  max-width: 100%;
  overflow-x: auto;
  padding: var(--spacing-xs) 0;
}

.tabs .tabs-tab {
  border: 1px solid #2E3E79;
  border-radius: 10px;
  padding: var(--spacing-xxs) 16px;
  line-height: 1.4;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tabs .tabs-list .tabs-tab {
  flex: 0 0 max-content;
  margin: 0;
  background-color: var(--color-white-100);
  color: #08133C;
  font-size: var(--body-font-size-m);
  font-weight: 400;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
}

.tabs .tabs-tab p {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs .tabs-list .tabs-tab[aria-selected='true'] {
  border: 1px solid #2E3E79;
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  font-weight: 600;
  cursor: default;
}

.tabs .tabs-panel {
  border: none;
  overflow: hidden; /* Needed for swiper cards inside tabs */
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs.blue-white-text .tabs-tab,
.tabs-container.blue-white-text .tabs-tab {
  background: var(--gradient-silver);
}

.tabs-container.silver-blue-text .tabs-tab,
.tabs-container.silver-blue-text .tabs-tab {
  background: rgb(255 255 255 / 70%);
}

.tabs.silver-blue-text .tabs-list .tabs-tab p
.tabs-container.silver-blue-text .tabs-list .tabs-tab p {
  color: #08133C;
}

.tabs.blue-white-text .tabs-tab[aria-selected='true'],
.tabs-container.blue-white-text .tabs-tab[aria-selected='true'] {
  background: var(--gradient-blue);
  color: var(--color-white);
}

.tabs.silver-blue-text .tabs-list,
.tabs-container.silver-blue-text .tabs-list {
  padding: 0;
  margin-bottom: 0;
}

.tabs.silver-blue-text .tabs-tab[aria-selected='true'],
.tabs-container.silver-blue-text .tabs-tab[aria-selected='true'] {
  background: linear-gradient(138deg, #999 -15.44%, #EFEFEF 0.15%, #CACACA 18.04%, #EFEFEF 37.09%, #CACACA 58.44%, #999 76.91%, #EFEFEF 87.3%);
  color: #08133C;
}

/* new tab-section styles */
.section.multi.tabs-container .tabs-list {
    max-width: var(--grid-container-width);
    width: fit-content;
    margin: 0 auto;
}

.section[data-category="tabs-vertical"].multi.tabs-container .tabs-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

@media (width >= 900px) {
  .tabs .tabs-list .tabs-tab {
    font-size: var(--body-font-size-m);
  }

  .tabs-tab[aria-selected='true'] {
    background: var(--gradient-silver);
    color: var(--color-white);
  }

  .tabs-panel {
    padding: 0;
  }

  .tabs.silver-blue-text .tabs-list {
    justify-content: center;
  }

  .tabs.silver-blue-text .tabs-tab {
    flex: 0 1 auto;
  }

  /* new tab-section styles */
.section.multi.tabs-container {

    .tabs-list {
      flex: 0 0 150px;
    }

    .tabs-panel {
      flex: 1 1 calc(100% - 200px);
    }
}

.section[data-category="tabs-vertical"].multi.tabs-container .tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-s);
}
}
