.tabs .tabs-list {
  display: flex;
  gap: 12px;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-tab {
  border: 1px solid #2E3E79;
  border-radius: 10px;
  padding: 8px 16px;
  line-height: 1.4;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tabs .tabs-list .tabs-tab {
  flex: 0 0 max-content;
  margin: 0;
  background-color: var(--light-color);
  color: #08133C;
  font-size: 16px;
  font-weight: 400;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
}

.tabs .tabs-tab p {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs .tabs-list .tabs-tab[aria-selected='true'] {
  border: 1px solid #2E3E79;
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  font-weight: 600;
  cursor: default;
}

.tabs .tabs-panel {
  border: none;
  padding: 24px 0;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs.blue-white-text .tabs-tab {
  background: var(--gradient-silver);
}

.tabs.silver-blue-text .tabs-tab {
  background: rgb(255 255 255 / 70%);
}

.tabs.silver-blue-text .tabs-list .tabs-tab p {
  color: #08133C;
}

.tabs.blue-white-text .tabs-tab[aria-selected='true'] {
  background: var(--gradient-blue);
  color: var(--white);
}

.tabs.silver-blue-text .tabs-list {
  padding: 0;
  margin-bottom: 0;
}

.tabs.silver-blue-text .tabs-tab[aria-selected='true'] {
  background: linear-gradient(138deg, #999 -15.44%, #EFEFEF 0.15%, #CACACA 18.04%, #EFEFEF 37.09%, #CACACA 58.44%, #999 76.91%, #EFEFEF 87.3%);
  color: #08133C;
}

@media (width >= 900px) {
  .tabs .tabs-list .tabs-tab {
    font-size: 18px;
  }

  .tabs.silver-blue-text .tabs-list {
    justify-content: center;
  }

  .tabs.silver-blue-text .tabs-tab {
    flex: 0 1 auto;
  }
}
