/* stylelint-disable no-descending-specificity */
.table.block {
  width: 100%;
  overflow-x: auto;
}

.table.block table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table.block table {
    font-size: var(--body-font-size-s);
  }
}

.table.block table th,
.table.block table td {
  padding: 1.5em 0.5em;
  text-align: left;
}

.table.block table th {
  font-weight: 700;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

@media (width >= 900px) {
  .table.block table th,
  .table.block table td {
    padding: 1.5em 0.5em;
  }
}
