/* stylelint-disable no-descending-specificity */

/* Default Table Styles */
.table.block {
  width: 100%;
  overflow: visible;
  position: relative;
}

.table-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 0;
  pointer-events: none;
}

.table-background-image picture,
.table-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.table.block table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
  position: relative;
  z-index: 1;
}

.table.block table th,
.table.block table td {
  padding: 1.5em 0.5em;
  text-align: left;
}

.table.block table th {
  font-weight: 700;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* Fees and Charges Table Specific Styles */
.table.block#fees-and-charges .table-background-image {
  background-image: var(--metal-blue);
  border-radius: 20px;
  overflow: hidden;
}

.table.block#fees-and-charges .table-background-image picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.table.block#fees-and-charges table {
  z-index: 2;
  margin: 0 auto;
}

.table.block#fees-and-charges table th,
.table.block#fees-and-charges table td {
  max-width: 100%;
  word-wrap: break-word;
  color: var(--white);
  padding: 16px 27px;
  position: relative;
}

.table.block#fees-and-charges table td:nth-child(2) {
  white-space: nowrap;
  min-width: fit-content;
  text-align: right;
}

.table.block#fees-and-charges table tbody tr:first-child td {
  padding-top: 27px;
}

.table.block#fees-and-charges table tbody tr:last-child td {
  padding-bottom: 27px;
}

.table.block#fees-and-charges table th sup,
.table.block#fees-and-charges table td sup {
  font-size: 12px;
}

.table.block#fees-and-charges table tbody tr:not(:last-child) {
  position: relative;
}

.table.block#fees-and-charges table tbody tr:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  right: 27px;
  height: 1px;
  background-color: var(--white);
}

/* Media Queries */
@media (width >= 600px) {
  .table.block table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table.block#fees-and-charges table {
    font-size: var(--heading-font-size-xs);
  }

  .table.block#fees-and-charges table th,
  .table.block#fees-and-charges table td {
    padding-left: 0;
    padding-right: 0;
  }

  .table.block#fees-and-charges table tbody tr:first-child td {
    padding-top: 50px;
  }

  .table.block#fees-and-charges table tbody tr:last-child td {
    padding-bottom: 50px;
  }

  .table.block#fees-and-charges table tbody tr:not(:last-child)::after {
    left: 0;
    right: 0;
  }
}
