.faq-accordion {
  max-width: 1440px;
  margin: 0 auto;
}

.faq-accordion .faq-accordion-item {
  display: none;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  background: #fff;
  overflow: hidden;
}

.faq-accordion .faq-accordion-item.visible {
  display: block;
  box-shadow: 0px 4px 8px 0px rgba(37, 36, 59, 0.1);
}

.faq-accordion .faq-accordion-item + .faq-accordion-item.visible {
  margin-top: 24px;
}

/* Label (Question) */
.faq-accordion .faq-accordion-label {
  position: relative;
  padding: 20px 30px;
  padding-right: 50px;
  cursor: pointer;
  font-weight: 600;
  list-style: none;
  color: #1c1c1c;
  font-size: 16px;
}

.faq-accordion .faq-accordion-item .faq-accordion-label p {
  margin: 0;
}

.faq-accordion .faq-accordion-item .faq-accordion-label p strong {
  font-size: 14px;
}

@media (max-width:767px) {
  .faq-accordion .faq-accordion-item .faq-accordion-label p strong {
    font-size: 12px;
  }
}

/* Arrow */
.faq-accordion .faq-accordion-label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  width: 8px;
  height: 8px;
  border: 2px solid #b70000;
  border-width: 2px 2px 0 0;
  transform: translateY(-50%) rotate(135deg);
  transition: transform 0.2s ease;
}

.faq-accordion .faq-accordion-item.open .faq-accordion-label::after {
  transform: translateY(-50%) rotate(-45deg);
}

/* Answer (Body) */
.faq-accordion .faq-accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 24px;
  font-size: 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
  color: #333;
}

.faq-accordion-item.open .faq-accordion-body {
  padding: 16px 24px;
}

.faq-accordion .faq-accordion-body p {
  margin: 0;
}
@media (max-width:767px) {
  .faq-accordion .faq-accordion-body p{
    font-size: 12px;
  }
}

/* Toggle Button */
.faq-accordion .faq-accordion-toggle-btn {
  background: none;
  border: none;
  color: #b70000;
  font-weight: 600;
  font-size: 14px;
  margin-top: 14px;
  cursor: pointer;
  float: right;
  padding: 8px;
}

.faq-accordion .faq-accordion-toggle-btn {
  background: none;
  border: none;
  color: #b70000;
  font-weight: 600;
  font-size: 14px;
  margin-top: 14px;
  cursor: pointer;
  float: right;
  padding: 8px;
  outline: none;
}

.faq-accordion .faq-accordion-toggle-btn:focus,
.faq-accordion .faq-accordion-toggle-btn:active {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.faq-accordion .faq-accordion-toggle-btn:hover {
  background-color: transparent;
}
