.tabs-cc-concept .tabs-list {
  display: flex;
  gap: var(--spacing-xs);
  max-width: 100%;
  overflow-x: auto;
}

.tabs-cc-concept .tabs-tab {
  border: 1px solid #2E3E79;
  border-radius: 10px;
  padding: var(--spacing-xxs) 16px;
  line-height: 1.4;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tabs-cc-concept .tabs-list .tabs-tab {
  flex: 0 0 max-content;
  margin: 0;
  background-color: var(--light-color);
  color: #08133C;
  font-size: var(--body-font-size-m);
  font-weight: 400;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
}

.tabs-cc-concept .tabs-tab p {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs-cc-concept .tabs-list .tabs-tab[aria-selected='true'] {
  border: 1px solid #2E3E79;
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  font-weight: 600;
  cursor: default;
}

.tabs-cc-concept .tabs-panel {
  border: none;
  padding: var(--spacing-s) 0;
  overflow: hidden; /* Needed for swiper cards inside tabs */
}

.tabs-cc-concept .tabs-panel[aria-hidden='true'] {
  display: none;
}

@media (width >= 900px) {
  .tabs-cc-concept .tabs-list .tabs-tab {
    font-size: var(--body-font-size-m);
  }
}
