footer {
  font-size: var(--body-font-size-xs);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.footer a:any-link {
  color: #FFFFFF;
}

.footer a:hover {
  text-decoration: none;
}

footer .footer p,
footer .footer ul {
  list-style: none;
}

.footer>div>div {
  display: flex;
  flex-direction: column;
}

.footer .section.accordion-container:first-child > .default-content {width: 100%;padding-left: 15px;padding-right: 15px;padding-top: 35px;padding-bottom: 15px;}

.footer .section.accordion-container:first-child > .default-content > h5 {
  color: rgb(188, 59, 69);
  font-size: var(--heading-font-size-xl);
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 4.5px;
  margin: unset;
}

.footer .section.accordion-container:first-child > .default-content > h6 {
  color: rgb(188, 59, 69);
  font-family: Inter;
  font-size: 77px;
  font-style: normal;
  font-weight: 900;
  line-height: 77px;
  letter-spacing: 1px;
  padding-top: 6px;
  margin: unset;
}

.footer .section.accordion-container:first-child > .default-content > p {
  position: relative;
  display: none;
  
}

/* Back to Top Button - styled like IDFC FIRST Bank's TOP button */
.footer .section.accordion-container:first-child > .default-content > p > a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #FFCB05;
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  color: #525252;
  right: -47px;
  top: -15px;
}

.footer .section.accordion-container:first-child > .default-content > p > a::before {
  content: "\e903";
  color: #525252;
  font-size: var(--body-font-size-xl);
  font-family: 'icomoon';
  line-height: 0.5;
  -webkit-font-smoothing: antialiased;
}

/* Only show TOP button on screens wider than 1200px */
@media (min-width: 1200px) {
  .footer .section.accordion-container:first-child > .default-content > p {
    display: flex;
  }
}

/* Added for desktop view */
footer .footer>div .section>div {
  margin: 0 auto;
	align-items: anchor-center;
  max-width: var(--grid-container-width);
}

.footer>div>div .accordion-wrapper {
  width: 100%;
}

.footer>div>div .accordion-wrapper .accordion>div:first-child {
  display: none;
}

.footer>div>div .accordion-wrapper .accordion {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.footer>div>div .accordion-wrapper .accordion>div,
.footer>div>div .accordion-wrapper .accordion .accordion-item {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  border: none;
  border-radius: unset;
  background: transparent;
}

.footer>div>div .accordion-wrapper .accordion .accordion-item {
  margin: 0;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2),
.footer>div>div .accordion-wrapper .accordion .accordion-item-body {
  display: flex;
  flex-wrap: wrap;
  border: navajowhite;
  background: transparent;
  padding: 0;
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  padding-bottom: 16px;
  letter-spacing: .5px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  border: unset;
  box-shadow: none;
}

.footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  background: transparent;
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child ::after,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label::after {
  display: block;
  top: 30%;
  background: url(/icons/icon-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  border: unset;
}

.footer>div>div .accordion-wrapper .accordion .accordion-item[open]>div>div:first-child ::after,
.footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
  display: block;
  background: url(/icons/icon-minus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child p,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label p {
  font-size: var(--body-font-size-s);
  font: 14px "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 0;
}

.footer>div>div .accordion-wrapper .accordion details[open],
.footer>div>div .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label {
  color: white;
  background: transparent;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul li,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li {
  margin-top: var(--spacing-xs);
  list-style: none;
  line-height: 1;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul li a,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li a {
  color: #FFFFFF;
  font: 14px "Inter", sans-serif;
  font-weight: 300;
  word-break: unset;
}

.footer>div>div:nth-child(2),
.footer .accordion-item-body {
  background: rgba(17, 17, 17, 0.1);
  padding: 40px 0;
  max-width: 100%;
}

.footer>div>div:nth-child(2)>div,
.footer .accordion-item-body {
  width: 100%;
  color: var(--white);
}

.footer>div>div:nth-child(2)>div>ul {
  display: flex;
  justify-content: space-between;
}

.footer>div>div:nth-child(2)>div>ul>li {
  padding-right: 15px;
  padding-left: 15px;
}

.footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li>.icon {
  height: 56px;
  width: 56px;
  background: #fff;
  padding: 2px;
}

.footer>div>div:nth-child(2)>div>ul li>p {
  font-size: var(--body-font-size-s);
  font-weight: 700;
  padding-bottom: 16px;
  letter-spacing: 0.5px;
}

.footer>div>div:nth-child(2)>div>ul>li>ul {
  display: flex;
}

.footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) {
  display: none;
}

.footer>div>div:nth-child(2)>div>ul>li>ul li {
  margin: 0 30px 0 0;
  align-items: center;
}

.footer>div>div:nth-child(3) {
  padding: 50px 15px var(--spacing-s) 15px;
}

.footer>div>div:nth-child(3) .block-content.accordion-wrapper > .accordion.block {
  margin: 0;
}

.footer>div>div:nth-child(3) .block-content.accordion-wrapper > .accordion.block > .accordion-item > .accordion-item-label {
  margin: 0 15px 10px;
  padding: 0 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.footer>div>div:nth-child(3) .accordion-item-label > p {margin: 0;}

.footer>div>div:nth-child(3) h3 {
  line-height: 1;
  font: 24px Inter, sans-serif;
  font-weight: 300;
  margin: 0;
}

.footer>div>div:nth-child(3) .default-content-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 210px;
  top: 52px;
}

.footer>div>div:nth-child(3) .accordion-wrapper .accordion>div,
.footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: visible;
}

footer .footer>div .section:nth-child(4) {
  padding: 30px 0 160px 0;
}

.footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item .accordion-item-label::after {
  left: 106px;
}

.footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

footer .footer>div .section:nth-child(4)>div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

footer .footer>div .section:nth-child(4)>div ul li {
  font-size: var(--body-font-size-xs);
  font-weight: 300;
  padding-bottom: 10px;
}

footer .footer>div .section:nth-child(4)>div ul li:last-child {
  padding-bottom: 0;
}

footer .footer>div .section:nth-child(4)>div p a {
  color: #9d1d27;
  font-weight: 600;
  margin: 0 5px;
  font-size: var(--body-font-size-xs);
}

.footer>div>div:nth-child(2)>div>ul>li:last-child>ul>li .icon {
  width: 100%;
  height: 100%;
}

.footer .section.accordion-container:first-of-type .accordion details summary {
  pointer-events: none;
  box-shadow: none;
}

.footer .section.accordion-container:first-of-type .accordion details summary::after,
.footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
  display: none;
}

@media (max-width: 767px) {
  .footer>div>div {
    padding: 0;
    order: 1;
    padding-top: 14px;
  }

  /* Added for mobile view */
footer .footer>div .section>div {
  margin: 0;
  max-width: 100%;
}

  .footer .section.accordion-container:first-of-type .accordion details summary {
    pointer-events: all;
  }

  .footer .section.accordion-container:first-of-type .accordion details summary::after,
  .footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
    display: block;
  }
  
  .footer .section.accordion-container:first-child > .default-content {
  margin-bottom: 0;
  }

  footer .footer>div {
    display: flex;
    flex-direction: column;
  }

  footer .footer>div .section>div {
    padding: 0 15px;
  }
  
  .footer>div>div:nth-child(3)>div {
  width: 100%;
  }

  .footer>div>div:nth-child(3) .block-content.accordion-wrapper > .accordion.block > .accordion-item > .accordion-item-label {
    margin: 0;
  }

  .footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item .accordion-item-label::after {
    display: block;
    left: unset;
    right: 4px;
  }

  .footer>div>div:nth-child(2),
  .footer .accordion-item-body {
    order: 3;
  }

  .footer>div>div .accordion-wrapper .accordion {
    flex-direction: column;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item {
    flex: 0 0 100%;
    max-width: 100%;
    border: none;
    border-radius: unset;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    letter-spacing: .5px;
    padding: 18px 0;
  }

  footer>div>div .accordion .accordion-item-body {
    background-color: transparent;
  }

  .footer>div>div:nth-child(2)>div>ul {
    flex-direction: column;
  }

  .footer .section.accordion-container:first-child .accordion.block {
    margin-bottom: 0;
  }

  .footer>div>div:nth-child(3) {
    padding: 0;
    order: 2;
    padding-bottom: 14px;
    flex-direction: column;
  }

  .footer .section.accordion-container:first-child > .default-content > h5 {
    color: #D23643;
    font-size: var(--body-font-size-xl);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .footer .section.accordion-container:first-child > .default-content > h6 {
    color: #D23643;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding-top: 4px;
  }

  footer .footer>div .section:nth-child(4) {
    order: 4;
  }

  footer .footer>div .section:nth-child(4)>div {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .footer .section:nth-child(3) {
    margin: 0;
  }

  .footer>div>div:nth-child(2)>div>ul>li {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li {
    line-height: 20px;
    margin-top: 9px;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label p {
    font-size: var(--body-font-size-s);
    line-height: 20px;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-body ul {
    padding-left: 0;
    flex-basis: inherit;
  }

  .footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item {
    border-bottom: unset;
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) {
    display: inline-block;
    border-radius: 25px;
    background: #FFFFFF;
    color: var(--dark-red-color);
    text-align: center;
    white-space: nowrap;
    border: 0;
    font-size: var(--body-font-size-s);
    min-width: auto;
    padding: 0 30px;
    line-height: 3;
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) a {
    color: var(--dark-red-color)
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:first-child {
    display: none;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label::after {
    top: 40%;
    right: 4px;
  }

  .footer>div>div:nth-child(3) .accordion {
    width: 100%;
  }

  .footer>div>div:nth-child(3) .default-content-wrapper {
    display: none;
  }

  .footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item-label {
    border-bottom: unset;
    color: var(--white);
  }

  .footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label {
    border-bottom: unset;
  }

  .footer>div>div:nth-child(3) h3 {
    display: none;
  }

}

@media (width >= 768px) {
  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2) {
    text-align: center;
  }
  
  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul {
    justify-content: center;
  }

  footer .footer>div .section:nth-child(4) > div > p {
    margin-top: 0;
  }
  
}